@import "./styles/variables.module.scss";

.container {
  width: 100vw;
  height: 100vh;

  .layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
  }
}
