@import "../../styles/variables.module.scss";

.container {
  width: 100%;
  height: 100%;

  .layout {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
